.creat{
    &-block{
        border-radius: 4px;
        background: url('../img/creat/02.png') right no-repeat ;
        position: relative;
        padding: 85px;
        z-index: 0;
        &::before {
            z-index: -1;
            background: url('../img/creat/01.png') center no-repeat, linear-gradient(89.66deg, rgba(0, 0, 0, 0.93) 25.88%, rgba(66, 65, 65, 0) 99.7%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &-text{
        z-index: 1;
        max-width: 484px;
        width: 100%;
        color: #fff;
    }
    &-title{
        font-weight: 800;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 33px;
    }
    &-subtitle{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 67px;
    }
}